@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  font-family: Arial;
  font-size: 16px;
  background: #5e42a6;
}

#logo-style {
  margin-left: 45%;
  margin-top: 0;
  border-radius: 50%;
}

.button {
  float: right;
  margin: 20px;
  margin-top: 35px;
  padding: 10px;
}

.submitBtn {
  margin-top: 0;
  width: 100px;
  transition-duration: 0.4s;
  border-radius: 10px;
}

.submitBtn:hover {
  background-color: #2a66b0; /* Blue */
  color: white;
}

.sidebar {
  position: fixed;
  width: 5%;
  height: 50vh;
  background: clear;
  font-size: 10%;

}

.nav {
  position: relative;
  margin: 0 25%;
  text-align: center;
  top: 50%;
  font-size:x-large;
  transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
}

body{
  background-image: url("/assets/images/.coffee-cup");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

h1 {
  font-size: 30px;
  text-align: center;
  color:black;
  font-family: Goudy Old Style;
}

.submit {
  text-align: right;
}

.form{
  text-align: right;
}

.menu{
  height:1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  max-width: 1000px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin:5px;
}


.gallery::after {
  content: "";
  width: 350px;
}

.caption {
  display: block;
  text-align: center;
  font-weight: bold;
  
}

.container2 {
  float: left;
}

.links {
  border: 2px solid black;
  padding: 10px;
  width: 970px;
  height: 50px;
  position: absolute;
  bottom: 3;
  top: 180%;
  transform: translateY(-50%);
}

.links p {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

/* .container1 {
  height: 100vh;
} */

/* .about-us {
  border: 2px solid black;
  padding: 10px;
  width: 200px;
  height: 600px;
  position: absolute;
  bottom: 0;
  right: 3%;
  top: 77%;
  transform: translateY(-50%);
}
.about-us p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
} */

/* .container {
  height: 100vh;
} */



